nav ul li a{
    margin-top: -100px;
    padding: 10px;
}
.fecha{
    width: 30%;
    height: 30px;
    color:#33cc00;
}
.contendor{
    width: 80%;
    height: 500px;
    background: white;
    padding: 10px;
}
.in{
    width: 40px;
    height: 45px;
}
.h{
    background: #333333;
    width: 100%;
    height: 60px;
    margin-top: -20px;
}
.verde{
    color: yellowgreen;
    margin-top: -100px;
    font-size: 28px;
}
.derecha{
    margin-left: 900px;
    margin-top: -32px;
}