a{
    text-decoration: none;
    color:yellowgreen;
    font-size: 35px;
}
body{
    margin: 0 auto;
    background:greenyellow;
    font-family:Arial, Helvetica, sans-serif;
}

label{
    color:white;
}

nav ul li{
    display: inline-block;
    
    
}
h1{
    font-weight: bolder;
}
footer{
    width: 100%;
    height: 50px;
    background: cornsilk;
    margin-top: 200px;
}
.boton_salir{
    margin-right: -200px;
    margin-top:  -50px;
    
}
.bloque{
    background: #ffffff;
    width: 80%;
    height: 250px;
    margin:auto;
    border-radius: 2px;
    margin-top: 200px;
}
.imagen{
    width: 20%;
    height: 220px;
}
.banner{
    width: 100%;
    height: 54px;
    background:#333333;
    float: right;
    font-weight: bold;
    margin-top: -200px;
    color:#660000;
}