strong{color: #ffcc00;}

.bloque_registrar{
    width: 40%;
    height: 330px;
    background: crimson;
    padding: 10px;
    border-radius: 6px;
}
.registrar{
    margin-left: 70%;
    margin-top: -30px;
}
.banner_login{
    height: 60px;
    width: 100%;
    margin-top: -22px;
    background:#333333;
    color: #0066cc;
}
.contenedor_login{
    color:#666600;
    width: 100%;
    height: 500px;
    background: coral;
}
.contendor_registrar{
    width: 40%;
    height: 730px;
    background: crimson;
    padding: 10px;
    border-radius: 6px;  
}